.chat-selected{
    flex: 1;
    min-height: 0;
    display: flex;
    flex-direction: column;
}

.chat-messages{
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
    overflow-y: auto;
    gap: 4px;
    padding: 12px 6px;
    scrollbar-width: thin;
    background-image: url("/fotos/bg_wp_dark.jpg");
}
