.home-screen {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.home-screen-body {
    display: flex;
    height: 100vh;
}

.nav-rail {
    display: flex;
    flex-direction: column;
    flex: 0 0 64px;
    overflow: hidden;
}

.chat-layout-wrapper{
    border-left: 1px solid  ;
    border-radius: 10px;
    display: flex;
    flex: 1;
    height: 100vh;
}

.home-screen-sidebar {
    display: flex;
    flex-direction: column;
    flex: 0 0 clamp(320px, 35%, 600px);
    height: 100vh;
    overflow: hidden;
    /* padding: 10px; */
    border-left: 1px solid  color-mix(in srgb, var(--detailcolor_E01) 50%, transparent);
    border-right: 1px solid  color-mix(in srgb, var(--detailcolor_E01) 50%, transparent);
}

.home-screen-chat {
    display: flex;
    flex-direction: column;
    color: white;
    flex: 1;
    min-width: 0;
    height: 100%;
    background-color: #0b141a;
    padding: 10px;
}