@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --font-family: "Roboto", sans-serif;
    --bg: #161717;
    --bg-secondary: #1D1F1F;
    --bg-dark: #103529;
    --surface: #2E2F2F;
    --surface-solid: #2E2F2F;
    --accent: #25D366;
    --accent-contrast: #000000;
    --detail: #AE442E;
    --text: #FAFAFA;
    --chat-bg: #FFFFFF99;
    --chat-text: #FAFAFA;
    --chat-text_in: #5E62EA;
}


[data-theme="Eva01"] {
    --bg: #161717;
    --bg-secondary: #1D1F1F;
    --surface: #2E2F2F;
    --surface-solid: #2E2F2F;
    --accent: #25D366;
    --accent-contrast: #000000;
    --detail: #AE442E;
    --text: #FFFFFF;
    --chat-bg: #FFFFFF99;
    --chat-text: #FAFAFA;
    --chat-text_in: #5E62EA;
}


[data-theme="Eva02"] {
    --bg: #88000A;
    --surface: #C4441E80;
    --surface-solid: #C4441E;
    --accent: #EB8111;
    --accent-contrast: #000000;
    --detail: #F2C14E;
    --text: #FFF3E6;
    --chat-bg: #2B0A08;
    --chat-text: #FFE9D6;
    --chat-text_in: #5E62EA;
}

/* ---------- Eva00: azul ---------- */
[data-theme="Eva00"] {
    --bg: #2B3E7A;
    --surface: #506CC059;
    --surface-solid: #506CC0;
    --accent: #F8FFFF;
    --accent-contrast: #1B2A55;
    --detail: #9FB4E8;
    --text: #FFFFFF;
    --chat-bg: #131A2E;
    --chat-text: #FFFFFF;
    --chat-text_in: #5E62EA;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family)
}


.body {
    font-family: var(--font-family);
}

.home-screen {
    background-color: var(--bg);
    transition: background-color 0.3s ease;
}